<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body {
			padding: 50px;
			font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
		}
	</style>
</head>
<body>
 -->

<%- include('header') %>

 	<h1><%=name.toUpperCase() %></h1>
	<p>hello,<%= name %></p>
	
<!-- </body>
</html> -->
<%- include('footer') %>

<!-- 好处：
	1.模板可服用
	2.主模板清晰
 -->